name: Release
on:
  release:
    types: [published]
jobs:
  Release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.x
          registry-url: https://registry.npmjs.org/
          cache: "npm"
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Publish to npmjs.com
        run: npm publish --access public
